* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #f6b4cf, #f7c8dd);
}

/* App screens */
.screen {
  min-height: 100vh;
  padding: 24px;
  display: none;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
}

.screen.active {
  display: flex;
}

/* Images */
.hero {
  width: 180px;
  margin: 20px 0;
}


/* Buttons */
.primary {
  margin-top: 20px;
  padding: 12px 28px;
  border-radius: 14px;
  border: none;
  background: white;
  font-size: 16px;
  cursor: pointer;
}

.option {
  width: 100%;
  max-width: 280px;
  margin: 8px 0;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.85);
  font-size: 15px;
  cursor: pointer;
}

/* Card (calendar placeholder) */
.card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  margin: 20px 0;
  width: 100%;
  max-width: 300px;
}
.qa-box {
  width: 100%;
  max-width: 320px;
  margin: 16px auto;
  background: white;
  border-radius: 14px;
  padding: 8px;
}

.question {
  cursor: pointer;
  font-size: 15px;
  list-style: none;
}

.answer {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
.call-btn {
  display: block;
  background: purple;
  color: white;
  padding: 14px;
  border-radius: 14px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}
.real-time-location-btn {
  border-radius: 10px;
}
.cat-alarm {
  width: 180px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}
#catAlarm {
  width: 160px;
  display: block;
  margin: 30px auto;
  cursor: pointer;
  transition: transform 0.2s;
}

#catAlarm:active {
  transform: scale(0.95);
}

